*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(#1f3756, #141539);
  background-position: center;
  background-size: cover;
  max-height: 100vh;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  display: flex;
  margin-top: 30px;
  border-radius: 20px;
  border: 2.5px solid #606e85;
  padding: 20px;
  justify-content: space-between;
}

.header__logo .logo {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    width: 150px;
  }
}

.header__scoreboard {
  width: 150px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #fffffe, #f4f4f4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  .header__scoreboard {
    width: 100px;
    height: 100px;
  }
}

.header__scoreboard .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
  color: #2a46c0;
  margin-bottom: 5px;
}

.header__scoreboard .score {
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
  color: #3b4363;
  letter-spacing: 0.000000000000000000001em;
}

.game {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__board {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  transform: translateX(0);
}

.game__board.hidden {
  display: none;
  transform: translateX(100px);
}

.game__board::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 75%;
  background: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.game__choice {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 600px) {
  .game__choice {
    width: 150px;
    height: 150px;
  }
}

.game__choice--1 {
  background: #5671f5;
  border-bottom: 10px solid #4865f4;
}

.game__choice--2 {
  background: #eca922;
  border-bottom: 10px solid #ec9e0e;
}

.game__choice--3 {
  background: #dd405d;
  border-bottom: 10px solid #dc2e4e;
  margin: 0 auto;
}

.game__image {
  display: block;
}

@media only screen and (max-width: 600px) {
  .game__image {
    width: 50px;
    height: 50px;
  }
}

.inner__choice {
  border-top: 9.5px solid #babfd4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: linear-gradient(180deg, #dddddd, #e5e5e5);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .inner__choice {
    width: 85px;
    height: 85px;
  }
}

.result {
  width: 550px;
}

.result--hidden {
  display: none;
}

.result--lg {
  width: 700px;
}

.result__board {
  display: flex;
  justify-content: space-between;
}

.player__title {
  font-size: 24px;
  line-height: 36px;
  color: white;
  font-weight: 600;
  padding-bottom: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .player__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.player__choice {
  border: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .player__choice {
    width: 150px;
    height: 150px;
  }
}

.player__choice--paper {
  background: #5671f5;
  border-bottom: 10px solid #4865f4;
}

.player__choice--scissors {
  background: #eca922;
  border-bottom: 10px solid #ec9e0e;
}

.player__choice--rock {
  background: #dd405d;
  border-bottom: 10px solid #dc2e4e;
}

.computer .placeholder {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #182341;
}

@media only screen and (max-width: 600px) {
  .computer .placeholder {
    width: 150px;
    height: 150px;
  }
}

.computer .placeholder.hide {
  display: none;
}

.computer__title {
  font-size: 24px;
  line-height: 36px;
  color: white;
  font-weight: 600;
  padding-bottom: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .computer__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.computer__choice {
  border: none;
  outline: none;
  cursor: pointer;
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translate(-100px, -450px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .computer__choice {
    width: 150px;
    height: 150px;
  }
}

.computer__choice.shown {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.computer__choice--paper {
  background: #5671f5;
  border-bottom: 10px solid #4865f4;
}

.computer__choice--scissors {
  background: #eca922;
  border-bottom: 10px solid #ec9e0e;
}

.computer__choice--rock {
  background: #dd405d;
  border-bottom: 10px solid #dc2e4e;
}

.action {
  align-self: center;
  transition: all 0.4s;
  transform: translateY(0) scale(1);
}

@media only screen and (max-width: 600px) {
  .action {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 1px);
    padding-bottom: 50px;
  }
}

.action.hidden {
  display: none;
  transform: translateY(100px) scale(0.5);
}

.action__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  color: #fffffe;
}

@media only screen and (max-width: 600px) {
  .action__header {
    font-size: 36px;
    line-height: 40px;
  }
}

.action__btn {
  margin-top: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */